.description {
    display: flex;
    margin-top: 20px;
    font-size: 16pt;
}

.avatar {
    margin-right: 50px;
}

.info {
    padding-top: 20px;
}

.name {
    font-size: 20pt;
    margin-bottom: 30px;
}