header {
    background-color: #ede902;
    grid-area: h;
    padding-left: 70px;
    display: flex;
    align-content: center;
}

header > img {
    height: 100px;
    border-radius: 50%;
    margin: 10px 0;
}