header {
    background-color: #ede902;
    margin-bottom: 20px;
    padding-left: 70px;
    display: flex;
    align-content: center;
    max-height: 50px;
}

header > img {
    height: 55px;
    transform: rotate(-5deg);
    margin: 20px 0 10px;
}